apiVersion: v1
kind: ConfigMap
metadata:
  name: wishlist-initdb-config
  namespace: prod
data:
  initdb.sql: |
    use wishlist
    create table store_likes_entity
    (
    store_id   bigint                              not null,
    user_id    bigint                              not null,
    created_at timestamp default CURRENT_TIMESTAMP not null,
    is_deleted bit              default false                   null,
    updated_at timestamp default CURRENT_TIMESTAMP not null,
    is_liked   bit                                 null,
    primary key (store_id, user_id)
    );
    
    create table product_likes_entity
    (
    product_id varchar(255)                        not null,
    user_id    bigint                              not null,
    created_at timestamp default CURRENT_TIMESTAMP not null,
    is_deleted bit           default false                      null,
    updated_at timestamp default CURRENT_TIMESTAMP not null,
    is_liked   bit                                 null,
    primary key (product_id, user_id)
    );
